.u-section-1 .u-sheet-1 {
  min-height: 961px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 66px;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/vlcsnap-2022-03-19-00h23m35s049.png");
  background-position: 50% 50%;
  min-height: 289px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/vlcsnap-2022-03-19-00h24m15s708.png");
  background-position: 50% 50%;
  min-height: 289px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/vlcsnap-2022-03-19-02h40m33s563.png");
  background-position: 50% 50%;
  min-height: 289px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  min-height: 289px;
  background-image: url("images/vlcsnap-2022-03-19-03h49m46s892.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-image-1 {
    min-height: 238px;
  }

  .u-section-1 .u-image-2 {
    min-height: 238px;
  }

  .u-section-1 .u-image-3 {
    min-height: 238px;
  }

  .u-section-1 .u-image-4 {
    min-height: 238px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-1 .u-image-1 {
    min-height: 182px;
  }

  .u-section-1 .u-image-2 {
    min-height: 182px;
  }

  .u-section-1 .u-image-3 {
    min-height: 182px;
  }

  .u-section-1 .u-image-4 {
    min-height: 182px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1481px;
  }

  .u-section-1 .u-image-1 {
    min-height: 273px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 273px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 273px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 273px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1075px;
  }

  .u-section-1 .u-image-1 {
    min-height: 172px;
  }

  .u-section-1 .u-image-2 {
    min-height: 172px;
  }

  .u-section-1 .u-image-3 {
    min-height: 172px;
  }

  .u-section-1 .u-image-4 {
    min-height: 172px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 490px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 987px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 914px;
  }
}